@use 'sass:math';

.wkit-dialog__overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.wkit-dialog__content {
  box-sizing: border-box;
  padding: 24px 26px;
  gap: 10px;
  width: 316px;
  position: relative;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.wkit-dialog__title {
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: #111322;
  margin: 0;
}

.wkit-dialog__header {
  display: flex;
  align-items: center;
}

.wkit-dialog {
  &__close {
    padding: 8px;
    border: 0;
    background-size: percentage(math.div(20, 36));
    width: 36px;
    height: 36px;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 16px;
    cursor: pointer;

    background-color: rgba(10, 14, 34, 0.05);
  }

  &__close:hover {
    background-color: rgba(10, 14, 34, 0.07);
  }

  &__close:active {
    background-color: rgba(10, 14, 34, 0.1);
  }

  &__close > img {
    opacity: 0.5;
  }

  &__close:hover > img {
    opacity: 1;
  }

  &__close:active > img {
    opacity: 1;
  }
}

.wkit-select__container {
  margin-top: 24px;
}

.wkit-select__title {
  font-size: 14px;
  line-height: 17px;
  color: #7d89b0;
  margin-bottom: 15px;
}

.wkit-select-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  margin-left: -6px;
  margin-right: -6px;
  transition: background 0.2s;
  border-radius: 18px;

  &:hover {
    background: rgba(10, 14, 34, 0.03);
  }

  &:active {
    background: rgba(10, 14, 34, 0.07);
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 18px;
    margin-right: 10px;
    outline: 1px solid #dcdfea;
  }
  &__icon-img {
    width: 36px;
    border-radius: 18px;
    object-fit: cover;
  }
}

.wkit-new-to-sui {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-top: 1px solid rgba(10, 14, 34, 0.1);
  border-radius: 0px 0px 24px 24px;

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(10, 14, 34, 0.5);
  }

  &__link {
    margin-left: 12px;
    color: #0096ff;
    font-weight: 700;
    text-decoration: none;
  }
}
