@use 'sass:math';

.wkit-dialog__overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.wkit-dialog__content {
  box-sizing: border-box;
  padding: 24px 26px;
  gap: 10px;
  width: 316px;
  position: relative;
  background-color: rgba(var(--wkit-bg-rgb), 1.0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--wkit-border-radius);
}

.wkit-dialog__title {
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  font-size: var(--wkit-font-size-large);
  font-family: var(--wkit-font-family);
  line-height: 24px;
  text-align: center;

  color: rgba(var(--wkit-on-bg-rgb), 1.0);
  margin: 0;
}

.wkit-dialog__header {
  display: flex;
  align-items: center;
}

.wkit-dialog {
  &__close {
    padding: 8px;
    border: 0;
    background-size: percentage(math.div(20, 36));
    width: 36px;
    height: 36px;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: var(--wkit-border-radius);
    cursor: pointer;

    background-color: rgba(var(--wkit-on-bg-rgb), 0.05);
  }

  &__close:hover {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.07);
  }

  &__close:active {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.1);
  }

  &__close {
    color: rgba(var(--wkit-on-bg-rgb), 0.5);
  }
  
  &__close:hover {
    color: rgba(var(--wkit-on-bg-rgb), 0.8);
  }
  
  &__close:active {
    color: rgba(var(--wkit-on-bg-rgb), 1.0);
  }
}

.wkit-select__container {
  margin-top: 24px;
}

.wkit-select__title {
  font-size: var(--wkit-font-size-small);
  font-family: var(--wkit-font-family);
  line-height: 17px;
  color: rgba(var(--wkit-on-bg-rgb), 0.5);
  margin-bottom: 15px;
}

.wkit-select-item {
  font-weight: 700;
  font-size: var(--wkit-font-size-medium);
  font-family: var(--wkit-font-family);
  line-height: 19px;
  color: rgba(var(--wkit-on-bg-rgb), 0.8);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  margin-left: -6px;
  margin-right: -6px;
  transition: background 0.2s;
  border-radius: var(--wkit-border-radius);

  & {
    background-color: var(--wkit-button-bg-varient1);
    color: rgba(var(--wkit-on-bg-rgb), 0.8);
  }

  &:hover {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.03);
    color: rgba(var(--wkit-on-bg-rgb), 1.0);
  }

  &:active {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.07);
    color: rgba(var(--wkit-on-bg-rgb), 1.0);
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 10px;
    outline: 1px solid #dcdfea;
  }
  &__icon-img {
    width: 36px;
    border-radius: 16px;
    object-fit: cover;
  }
}

.wkit-new-to-sui {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(var(--wkit-bg-rgb), 1.0);
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-top: 1px solid rgba(var(--wkit-on-bg-rgb), 0.1);
  border-radius: 0px 0px var(--wkit-border-radius) var(--wkit-border-radius);

  &__text {
    font-weight: 500;
    font-size: var(--wkit-font-size-small);
    font-family: var(--wkit-font-family);
    line-height: 17px;
    color: rgba(var(--wkit-on-bg-rgb), 0.5);
  }

  &__link {
    margin-left: 12px;
    font-weight: 700;
    font-family: var(--wkit-font-family);
    font-size: var(--wkit-font-size-small);
    text-decoration: none;
    
    &:hover {
      color: hsl(var(--wkit-accent-hs), 45%);
    }
    
    &:hover {
      color: hsl(var(--wkit-accent-hs), 40%);
    }
    
    &:active {
      color: hsl(var(--wkit-accent-hs), 35%);
    }
  }
}
