.overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  box-sizing: border-box;
  padding: 24px 28px;
  gap: 10px;
  width: 316px;
  position: relative;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.title {
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #111322;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  padding: 0;
  border: 0;
  background: url(./close.svg) no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.select-container {
  margin-top: 24px;
}

.select-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7d89b0;
  margin-bottom: 15px;
}

.select-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #f9fafb;
    // background-color: rgba(224, 232, 255, 0.1);
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 10px;
    outline: 1px solid #DCDFEA;
  }
  &__icon-img {
    width: 36px;
    border-radius: 18px;
    object-fit: cover;
  }
}
