:root {
  --wkit-button-bg: #3ea2f8;
  --wkit-button-bg-hover: #0073E5;
  --wkit-button-bg-active: #0059BF;

  --wkit-border-radius: 16px;
}

.wkit-button {
  --wkit-button-border-radius: var(--wkit-border-radius);

  border-radius: var(--wkit-button-border-radius);
  padding: 14px 24px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  border: 0;

  &{
    background-color: var(--wkit-button-bg);
  }

  &:hover {
    background-color: var(--wkit-button-bg-hover);
  }

  &:active {
    background-color: var(--wkit-button-bg-active);
  }
}
