.button {
  background-color: #3ea2f8;
  border-radius: 16px;
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: 0;
}

.connected-button {
  background: #eff1f5;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
  padding: 12px 18px;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.right-arrow {
  background: url('../../../assets/arrow.svg') no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 12px;
}

.connected-container {
  position: relative;
}

.connected-modal {
  background: #eff1f5;
  border-radius: 13px;
  padding: 17px 24px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  position: absolute;
  width: 268px;
  cursor: pointer;
  bottom: -76px;
}
