:root {
  --wkit-button-width: 254px;
}

.wkit-connected-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #eff1f5;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
  padding: 13px;
  border: 0;
  cursor: pointer;

  &__balance {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #111322;
    white-space: nowrap;
    flex-grow: 1;
  }

  &__divider {
    width: 1px;
    height: 16px;
    margin: 0 6px;
  }
}


.wkit-address-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__address {
    font-style: normal;
    font-family: monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(10, 14, 34, 0.5);
  }

  &__right-arrow {
    background: url('../../assets/arrow.svg') no-repeat center;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}

.wkit-connected-container {
  position: relative;
  width: var(--wkit-button-width);
}

.wkit-connected-modal {
  box-sizing: border-box;
  position: absolute;
  bottom: -76px;
  width: var(--wkit-button-width);
  background: #eff1f5;
  border-radius: 13px;
  padding: 16px 24px;
  color: #000000;
  cursor: pointer;

  &__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111322;
  }
}
