.connected-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #eff1f5;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
  padding: 16px 24px;
  border: 0;
  cursor: pointer;
}

.balance {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #111322;
}
.address-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #404968;
}
.divider {
  width: 1px;
  height: 16px;
  margin: 0 10px;
  background-color: #dcdfea;
}

.right-arrow {
  background: url('../../assets/arrow.svg') no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 12px;
}

.connected-container {
  position: relative;
  width: 268px;
}

.connected-modal {
  box-sizing: border-box;
  position: absolute;
  bottom: -76px;
  width: 268px;
  background: #eff1f5;
  border-radius: 13px;
  padding: 16px 24px;
  color: #000000;
  cursor: pointer;

  &__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111322;
  }
}
