.wkit-connected-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--wkit-border-radius);
  font-weight: 600;
  font-size: var(--wkit-font-size-medium);
  line-height: 19px;
  padding: 14px;
  border: 0;
  cursor: pointer;

  &{
    background-color: rgba(var(--wkit-on-bg-rgb), 0.05);

    & .wkit-address-select {
      color: rgba(var(--wkit-on-bg-rgb), 0.5);
    }
  }
  
  &:hover {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.07);

    & .wkit-address-select {
      color: rgba(var(--wkit-on-bg-rgb), 0.8);
    }
  }

  &:active {
    background-color: rgba(10, 14, 34, 0.10);

    & .wkit-address-select {
      color: rgba(var(--wkit-on-bg-rgb), 0.8);
    }
  }

  &__balance {
    font-style: normal;
    font-weight: 700;
    font-size: var(--wkit-font-size-medium);
    font-family: var(--wkit-font-family);
    line-height: 19px;
    color: rgba(var(--wkit-on-bg-rgb), 1.0);
    white-space: nowrap;
    flex-grow: 1;
  }

  &__divider {
    width: 1px;
    height: 16px;
    margin: 0 6px;
  }
}


.wkit-address-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgba(var(--wkit-on-bg-rgb), 0.5);

  &__address {
    font-style: normal;
    font-family: var(--wkit-font-family-mono);
    font-weight: 400;
    font-size: var(--wkit-font-size-medium);
    line-height: 19px;
  }

  &__right-arrow {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}

.wkit-connected-container {
  position: relative;
  width: var(--wkit-button-width);
}

.wkit-disconnect-button {
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  bottom: -76px;
  width: var(--wkit-button-width);
  
  border-radius: var(--wkit-border-radius);
  padding: 14px;
  line-height: 22px;
  color: rgba(var(--wkit-on-bg-rgb), 0.8);
  cursor: pointer;

  text-align: center;

  &{
    background-color: rgba(var(--wkit-on-bg-rgb), 0.05);
  }
  
  &:hover {
    background-color: rgba(var(--wkit-on-bg-rgb), 0.07);
  }

  &:active {
    background-color: rgba(10, 14, 34, 0.10);
  }

  &__text {
    font-family: var(--wkit-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: var(--wkit-font-size-medium);
    line-height: 19px;
    color: rgba(var(--wkit-on-bg-rgb), 0.8);
  }
}
